<body>
  <form action='/posts' method='post'>
    <input type='text' name='name' id='post_name' />
    <input type='text' name='content' id='post_content'  />
    <input type='submit' id='submit' />
  </form>
</body>
